* {color: blue}
label {text-decoration: underline}
.TituloPrincipal {border: 5px double #F04510}
#TituloIndex {background-color: rgb(185, 252, 252)}

body{
    margin: 0%;
    padding: 0%;
}


.fondo{
    background-image: url(../img/fondo.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}